# Additional environment variables are also available in the server.ts file
VITE_UMAMI_WEBSITE_ID=
VITE_UMAMI_WEBSITE_URL=
VITE_UMAMI_PERFORMANCE_TRACKING=
PORT=3000
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_TO=
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
VITE_UMAMI_DO_NOT_TRACK=